<footer>
    <nav>
        <h3><a href="/"><i class="fa-solid fa-arrows-rotate"></i> refresh</a></h3>
        <h3><a href="https://forms.gle/ZnyUcmjtj7SFWeyo8" target="_blank"><i class="fa-solid fa-video"></i> request</a></h3>
    </nav>
    <nav>
        <div class="logo">
            <h3>safe travels</h3>
            <img src="/kc.svg" alt="kcmo" />
        </div>
        <a href="https://apps.apple.com/us/app/hows-the-roads/id6742173400" target="_blank" class="highlight highlight-app">get the app <small>new!</small><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </nav>
</footer> 